
RewriteEngine	On

#RewriteBase	/

RewriteRule	^test-fail.php$			test-ok.php		[L]

RewriteRule	^/?login/?$			auth.php?login=1	[L]
RewriteRule	^/?logout/?$			auth.php?logout=1	[L]

RewriteRule	^section/?$					index.php	[L]
RewriteRule	^section/([0-9]+)/?$				index.php?catalog=$1	[L]

RewriteRule	^group/?/?$					index.php	[L]
RewriteRule	^group//?([^/]+)/?$				indexing.php?server=*&group=$1	[L]
RewriteRule	^group//?([^/]+)/([0-9]+)/?$			indexing.php?server=*&group=$1&cursor=$2	[L]
RewriteRule	^group//?([^/]+)/([0-9]+)r/?$			indexing.php?server=*&group=$1&cursor=$2	[L]

RewriteRule	^group/([^/]+)/([^/]+)/?$			indexing.php?server=$1&group=$2	[L]
RewriteRule	^group/([^/]+)/([^/]+)/([0-9]+)/?$		indexing.php?server=$1&group=$2&cursor=$3	[L]
RewriteRule	^group/([^/]+)/([^/]+)/([0-9]+)r/?$		indexing.php?server=$1&group=$2&cursor=$3	[L]

RewriteRule	^article//?([^/]+)/([0-9]+)/?$			read-art.php?server=*&group=$1&artnum=$2	[L]
RewriteRule	^article/([^/]+)/([^/]+)/([0-9]+)/?$		read-art.php?server=$1&group=$2&artnum=$3	[L]

RewriteRule	^article//?([^/]+)/([0-9]+)h/?$			read-art.php?server=*&group=$1&artnum=$2&header	[L]
RewriteRule	^article/([^/]+)/([^/]+)/([0-9]+)h/?$		read-art.php?server=$1&group=$2&artnum=$3&header	[L]

RewriteRule	^newsgroups\.lst$				index.php	[L]
