body            { font-size: 12px; color: black; background: white; font-family: arial }

img             { border: 0px }

.title          { font-size: 14px; color: black; font-family: Georgia }

a               { text-decoration:none; color: blue }
a:visited       { color: blue }
a:hover         { text-decoration:underline; color:red }

a.text               { text-decoration:none; color: black }
a.text:visited       { color: black }
a.text:hover         { text-decoration:underline; color:black }

a.menu          { text-decoration:none; color: blue }
a.menu:visited  { color: blue }
a.menu:hover    { text-decoration:underline; color: #FF5020 }

hr              { height: 1pt; color: #8080A0 }

table           { empty-cells: show }
table.fixed     { table-layout: fixed }

table.shadow    { border-color: white black black white; empty-cells: show; background: white }

td.bg           { background: #A0A0F0 }
td.menu         { border-color: white; border: 2pt; width: 100px; font-size: 12px; background: #EEEEF8 }
td.menu_hover   { width: 100px; font-size: 12px; background: #D0D0FF }
td.menu_select  { width: 100px; font-size: 12px; color: black; background: #D0D0FF }
td.menu_auth    { width: 100px; font-size: 12px; background: #EEE0F8 }
td.menu_link    { width: 100px; font-size: 12px; background: #F0EEEE }
td.menu_null    { width: 100px; font-size: 12px; background: #EEEEEE }

td.login        { width: 100px; font-size: 12px; background: #FFFFEE }
td.login_hover  { width: 100px; font-size: 12px; background: #FFFFC0 }
td.logout       { width: 100px; font-size: 12px; background: #FFFFEE }
td.logout_hover { width: 100px; font-size: 12px; background: #FFFFC0 }

tr.header       { background: #EEDDFF; color: black; font-size: 12px }

td.group        { background: #EEFFEE; font-family: Georgia; font-size: 16px; font-style: italic; font-weight: bold }
td.group_hover  { background: #FFFF80; font-family: Georgia; font-size: 16px; font-style: italic; font-weight: bold }

td.action       { width: 100px; font-size: 12px; background: #FFDDEE }
td.action_hover { width: 100px; font-size: 12px; background: #FFFFC0 }

td.empty_group	{ font-size: 14px; color: black }

tr.list         { background: #F0EEEE; font-size: 12px }
tr.list_hover   { background: #FFDDEE; font-size: 12px }

td.page         { background: #DDFFDD; font-size: 12px }
td.page_hover   { background: #FFFFC0; font-size: 12px }

td.subject      { background: #DDDDFF; font-size: 14px; font-weight: bold; text-align: left }
td.date         { background: #FFFFEE; font-size: 12px; text-align: right }
td.author       { background: #FFFFEE; font-size: 12px; text-align: left }
td.server       { background: #DDDDFF; font-size: 12px; text-align: right }

td.content      { background: #EEFFEE; font-size: 13px; font-family: monospace; text-align: left }

tr.footbar      { font-size: 12px }

select.lang     { margin: 0pt; font-size: 12px; color: blue; background: #DDFFEE }
select.pgidx    { margin: 0pt; font-size: 12px; color: black; background: #EEFFEE }

input.login     { background: #EEDDFF; width: 110pt; border: 1px solid }
input.normal    { vertical-align: top; background: #DDDDDD }

input.input     { background: #FFEEDA; border: 1px solid }

input.login2    { background: #EEDDFF; width: 50pt }
select.login    { background: #EEDDFF }

td.field        { color: black; font-size: 12px; text-align: right }
td.value        { color: blue; font-size: 12px; text-align: left }

td.text         { color: black; font-size: 12px; text-align: left }
td.status       { color: black; font-size: 12px; text-align: left; font-weight: bold }

textarea.content{ vertical-align: top; background: #EEFFFF; width: 100%; height: 210px; border: 1px solid }

pre.content     { font-size: 12px; font-family: monospace; color: black }

span.link	{ color: blue; cursor: pointer }

td.thread	  { width: 18px; text-align: center; font-family: Times; color: black; background: #EEFFEE; font-size: 14px; cursor: pointer }
td.thread_current { width: 18px; text-align: center; font-family: Times; color: black; background: #EEFFEE; font-size: 14px; font-weight: bold; border: 1px dotted gray }
td.thread_hover   { width: 18px; text-align: center; font-family: Times; color: white; background: black;   font-size: 14px; font-weight: bold; cursor: pointer }
