
body            { font-size: 12px; color: black; background: #EEEEFF; font-family: arial }

img             { border: 0px }

a               { text-decoration:none; color: blue }
a:visited       { color: blue }
a:hover         { text-decoration:underline; color:red }

a.menu          { text-decoration:none; color: blue }
a.menu:visited  { color: blue }
a.menu:hover    { text-decoration:underline; color: #FF5020 }

hr              { height: 1pt; color: #8080A0 }

table           { empty-cells: show }

table.shadow    { border-color: white black black white; empty-cells: show; background: white }

td.bg           { background: #A0A0F0 }
td.menu         { border-color: white; border: 2pt; width: 100px; font-size: 12px; background: #DDFFDD }
td.menu_hover   { width: 100px; font-size: 12px; background: #D0D0FF }
td.menu_select  { width: 100px; font-size: 12px; color: black; background: #D0D0FF }
td.menu_auth    { width: 100px; font-size: 12px; background: #EEFFEE }
td.menu_link    { width: 100px; font-size: 12px; background: #FFEEEE }
td.menu_null    { width: 100px; font-size: 12px; background: #EEFFEE }

td.login        { width: 100px; font-size: 12px; background: #EEFFFF }
td.login_hover  { width: 100px; font-size: 12px; background: #FFFFC0 }
td.logout       { width: 100px; font-size: 12px; background: #EEFFFF }
td.logout_hover { width: 100px; font-size: 12px; background: #FFFFC0 }

tr.header       { background: #EEDDFF; color: black; font-size: 12px }

td.group        { background: #DDFFDD; font-family: Georgia; font-size: 16px; font-style: italic; font-weight: bold }
td.group_hover  { background: #FFFF80; font-family: Georgia; font-size: 16px; font-style: italic; font-weight: bold }

td.action       { width: 100px; font-size: 12px; background: #FFDDEE }
td.action_hover { width: 100px; font-size: 12px; background: #FFFFC0 }

td.empty_group	{ font-size: 14px; color: black }

tr.list         { background: #EEFFFF; font-size: 12px }
tr.list_hover   { background: #FFFFA0; font-size: 12px }

td.page         { background: #DDFFDD; font-size: 12px }
td.page_hover   { background: #FFFFC0; font-size: 12px }

td.subject      { background: #DDDDFF; font-size: 14px; font-weight: bold; text-align: left }
td.date         { background: #DDDDFF; font-size: 14px; text-align: right }
td.author       { background: #FFFFEE; font-size: 12px; text-align: left }
td.server       { background: #FFFFEE; font-size: 12px; text-align: right }

td.content      { background: #EEFFEE; font-size: 13px; font-family: monospace; text-align: left }

tr.footbar      { font-size: 12px }

select.lang     { margin: 0pt; font-size: 12px; color: blue; background: #DDFFEE }

input.login     { background: #EEDDFF; width: 110pt }
input.normal    { vertical-align: top; background: #DDDDDD }

select.login    { background: #EEDDFF }

td.field        { color: black; font-size: 12px; text-align: right }
td.value        { color: blue; font-size: 12px; text-align: left }

td.text         { color: black; font-size: 12px; text-align: left }
td.status       { color: black; font-size: 12px; text-align: left; font-weight: bold }

textarea.content{ vertical-align: top; background: #EEFFFF; width: 100%; height: 210px }

pre.content     { font-size: 12px; font-family: monospace; color: black }

