RewriteEngine	On
#RewriteBase	/
RewriteRule	^section/([0-9]+)/?$			index.php?catalog=$1
RewriteRule	^group/([^/]+)/([^/]+)/?$		indexing.php?server=$1&group=$2	[L]
RewriteRule	^group/([^/]+)/([^/]+)/([0-9]+)/?$	indexing.php?server=$1&group=$2&cursor=$3	[L]
RewriteRule	^group/([^/]+)/([^/]+)/([0-9]+)r/?$	indexing.php?server=$1&group=$2&cursor=$3&forward=1	[L]
RewriteRule	^article/([^/]+)/([^/]+)/([0-9]+)/?$	read-art.php?server=$1&group=$2&artnum=$3&newwin=0	[L]
